[submodule "bobsgameonlinejava"]
	path = bobsgameonlinejava
	url = https://github.com/robertpelloni/bobsgameonlinejava
[submodule "okgame"]
	path = okgame
	url = https://github.com/robertpelloni/okgame
[submodule "bobfilez"]
	path = bobfilez
	url = https://github.com/robertpelloni/bobfilez
[submodule "fwber"]
	path = fwber
	url = https://github.com/robertpelloni/fwber
[submodule "beatoraja"]
	path = beatoraja
	url = https://github.com/robertpelloni/beatoraja
[submodule "itgmania"]
	path = itgmania
	url = https://github.com/robertpelloni/itgmania
[submodule "bobsaver"]
	path = bobsaver
	url = https://github.com/robertpelloni/bobsaver
[submodule "borg"]
	path = borg
	url = https://github.com/robertpelloni/borg
[submodule "bobmani"]
	path = bobmani
	url = https://github.com/robertpelloni/bobmani
[submodule "raindropioapp"]
	path = raindropioapp
	url = https://github.com/robertpelloni/raindropioapp
[submodule "bobcoin"]
	path = bobcoin
	url = https://github.com/robertpelloni/bobcoin
[submodule "sm64coopdx"]
	path = sm64coopdx
	url = https://github.com/robertpelloni/sm64coopdx
[submodule "topaz-ffmpeg"]
	path = topaz-ffmpeg
	url = https://github.com/TopazLabs/ffmpeg
[submodule "mk64"]
	path = mk64
	url = https://github.com/robertpelloni/mk64
[submodule "bobeditpro"]
	path = bobeditpro
	url = https://github.com/robertpelloni/bobeditpro
[submodule "bobtrader"]
	path = bobtrader
	url = https://github.com/robertpelloni/bobtrader
[submodule "musicbrainz-soulseek-downloader"]
	path = musicbrainz-soulseek-downloader
	url = https://github.com/robertpelloni/musicbrainz-soulseek-downloader
[submodule "bobtorrent"]
	path = bobtorrent
	url = https://github.com/robertpelloni/bobtorrent
[submodule "hymnmania"]
	path = hymnmania
	url = https://github.com/robertpelloni/hymnmania
[submodule "bobui"]
	path = bobui
	url = https://github.com/robertpelloni/bobui
[submodule "bobtrax"]
	path = bobtrax
	url = https://github.com/robertpelloni/bobtrax
[submodule "bobium"]
	path = bobium
	url = https://github.com/robertpelloni/bobium
[submodule "bobzilla"]
	path = bobzilla
	url = https://github.com/robertpelloni/bobzilla
[submodule "jules-autopilot"]
	path = jules-autopilot
	url = https://github.com/robertpelloni/jules-autopilot
[submodule "Chamber.Law"]
	path = Chamber.Law
	url = https://github.com/mnmballa2323/Chamber.Law
[submodule "Alti.Assistant"]
	path = Alti.Assistant
	url = https://github.com/mnmballa2323/Alti.Assistant
[submodule "Alti.Code.Studio"]
	path = Alti.Code.Studio
	url = https://github.com/mnmballa2323/Alti.Code.Studio
[submodule "rental.home"]
	path = rental.home
	url = https://github.com/mnmballa2323/rental.home
[submodule "Tickerstone"]
	path = Tickerstone
	url = https://github.com/mnmballa2323/Tickerstone
[submodule "cointrade"]
	path = cointrade
	url = https://github.com/mnmballa2323/cointrade
[submodule "coin.project"]
	path = coin.project
	url = https://github.com/mnmballa2323/coin.project
[submodule "Stone.Ledger"]
	path = Stone.Ledger
	url = https://github.com/mnmballa2323/Stone.Ledger
