[submodule "libs/lwjgl3"]
	path = libs/lwjgl3
	url = https://github.com/LWJGL/lwjgl3
[submodule "libs/lz4-java"]
	path = libs/lz4-java
	url = https://github.com/lz4/lz4-java
[submodule "libs/jinput"]
	path = libs/jinput
	url = https://github.com/jinput/jinput
[submodule "libs/micromod"]
	path = libs/micromod
	url = https://github.com/martincameron/micromod
[submodule "libs/twl-lwjgl3"]
	path = libs/twl-lwjgl3
	url = https://github.com/ThemableWidgetLibrary/twl-lwjgl3
[submodule "libs/mysql-connector-j"]
	path = libs/mysql-connector-j
	url = https://github.com/mysql/mysql-connector-j
[submodule "libs/xpp3"]
	path = libs/xpp3
	url = https://github.com/codelibs/xpp3
[submodule "libs/xz-java"]
	path = libs/xz-java
	url = https://github.com/tukaani-project/xz-java
[submodule "libs/commons-lang"]
	path = libs/commons-lang
	url = https://github.com/apache/commons-lang
[submodule "references/aseprite"]
	path = references/aseprite
	url = https://github.com/aseprite/aseprite
[submodule "references/sprite-studio-64"]
	path = references/sprite-studio-64
	url = https://github.com/tstamborski/sprite-studio-64
[submodule "references/stipple-effect"]
	path = references/stipple-effect
	url = https://github.com/stipple-effect/stipple-effect
[submodule "references/Raylib-Examples"]
	path = references/Raylib-Examples
	url = https://github.com/Pakz001/Raylib-Examples
[submodule "references/csprite"]
	path = references/csprite
	url = https://github.com/csprite/csprite
[submodule "references/raster-master"]
	path = references/raster-master
	url = https://github.com/RetroNick2020/raster-master
[submodule "references/Tile-Studio"]
	path = references/Tile-Studio
	url = https://github.com/Wiering/Tile-Studio
[submodule "references/voidsprite"]
	path = references/voidsprite
	url = https://github.com/counter185/voidsprite
[submodule "references/GrowTools"]
	path = references/GrowTools
	url = https://github.com/GuckTubeYT/GrowTools
[submodule "references/retro-game-editor"]
	path = references/retro-game-editor
	url = https://github.com/haroldo-ok/retro-game-editor
[submodule "references/SpeedEd"]
	path = references/SpeedEd
	url = https://github.com/jval1972/SpeedEd
[submodule "references/aseprite-guide"]
	path = references/aseprite-guide
	url = https://github.com/PandaDevOfficial/aseprite-guide
[submodule "references/tilemap-studio"]
	path = references/tilemap-studio
	url = https://github.com/Rangi42/tilemap-studio
[submodule "references/tilemap-editor"]
	path = references/tilemap-editor
	url = https://github.com/blurymind/tilemap-editor
[submodule "references/tactile"]
	path = references/tactile
	url = https://github.com/albin-johansson/tactile
[submodule "references/Simple-Sprite-Tile-2D"]
	path = references/Simple-Sprite-Tile-2D
	url = https://github.com/wmltogether/Simple-Sprite-Tile-2D
[submodule "references/bottled-up-tilemap"]
	path = references/bottled-up-tilemap
	url = https://github.com/Dark-Peace/bottled-up-tilemap
[submodule "references/DTile"]
	path = references/DTile
	url = https://github.com/MagnonGames/DTile
[submodule "references/Pixelorama"]
	path = references/Pixelorama
	url = https://github.com/Orama-Interactive/Pixelorama
[submodule "references/PixiEditor"]
	path = references/PixiEditor
	url = https://github.com/PixiEditor/PixiEditor
[submodule "references/LibreSprite"]
	path = references/LibreSprite
	url = https://github.com/LibreSprite/LibreSprite
[submodule "references/rx"]
	path = references/rx
	url = https://github.com/cloudhead/rx
[submodule "references/piskel"]
	path = references/piskel
	url = https://github.com/piskelapp/piskel
[submodule "references/blockbench"]
	path = references/blockbench
	url = https://github.com/JannisX11/blockbench
[submodule "references/Cytopia"]
	path = references/Cytopia
	url = https://github.com/CytopiaTeam/Cytopia
[submodule "references/goxel"]
	path = references/goxel
	url = https://github.com/guillaumechereau/goxel
[submodule "references/tiled"]
	path = references/tiled
	url = https://github.com/mapeditor/tiled
[submodule "references/OgmoEditor3-CE"]
	path = references/OgmoEditor3-CE
	url = https://github.com/Ogmo-Editor-3/OgmoEditor3-CE
[submodule "references/grafx2"]
	path = references/grafx2
	url = https://github.com/miniupnp/grafx2
[submodule "references/grafx2-dos"]
	path = references/grafx2-dos
	url = https://github.com/deverac/grafx2-dos
[submodule "references/PyxleOS"]
	path = references/PyxleOS
	url = https://github.com/Dakkra/PyxleOS
[submodule "libs/aseprite-file"]
	path = libs/aseprite-file
	url = https://github.com/elgopher/aseprite-file
[submodule "bobcoin"]
	path = bobcoin
	url = https://github.com/robertpelloni/bobcoin
