*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font: 13px -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
    height: 140px;
    width: 600px;
    padding: 15px;
}

/** MAIN ENGINES **/
#main{
    margin-left: 20px;
}
#main > li{
    float: left;
    margin: 0px;
    padding: 0px;
    list-style:none;
    padding: 7px 7px 5px;
    border: 2px solid transparent;
    border-width: 2px 2px 0 2px;
    cursor: pointer;
}
#main > li.selMainTab{
    border-color: #e5e5e5;
    border-radius: 10px 10px 0 0;
}
#main li img{
    opacity: 0;
    width: 16px;
    height: 16px;
}

/** SUB ENGINES **/
.subWrap{
    position: absolute;
    top: 93px;
    left: 30px;
    margin: 0px;
    padding: 0px;
}
.subWrap li{
    float: left;
    margin: 0px;
    padding: 5px 7.5px;
    list-style: none;
    border: 2px solid transparent;
    border-width: 0 2px 2px 2px;
    cursor: pointer;
}
.subWrap .selSubTab{
    border-color: #e5e5e5;
    border-radius: 0 0 10px 10px;
}

/** SEARCH BOX **/
.searchBoxWrap{
    position: absolute;
    top: 48px;
    left: 15px;
    right: 15px;
}
#searchBox{
    color: #000000;
    padding: 10px 35px 10px 20px;
    border: 2px solid #e5e5e5;
    font-size: 20px;
    border-radius: 30px;
    width: 100%;
    margin: 0px;
}
#searchBox:focus{
    outline:none;
    border-color: #E8B900;
    transition: border linear .2s, box-shadow linear 0.8s;
}

#searchBtn{
    color: #888;
    position: absolute;
    right: 15px;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    opacity: 0.5;
}
#searchBtn:hover{
    opacity: 0.2;
}

/** Extra bar **/
#extraBar{
    position: absolute;
    top: 15px;
    right: 15px;
}
#extraBar a{
    color: #888;
    cursor: pointer;
    opacity: 0.5;
    margin: 0 0 0 10px;
}
#extraBar a:hover{
    opacity: 0.2;
}


/** THEMES **/
body.dark-theme{
    background: #000;
    color: #f7f7f7;
}
.dark-theme #main > li.selMainTab {
    border-color: #333;
}
.dark-theme .subWrap .selSubTab{
    border-color: #333;
}
.dark-theme #searchBox{
    background: #000;
    color: #fff;
    border-color: #333;
}
.dark-theme #searchBox:focus{
    border-color: #E8B900;
}

.dark-theme #searchBtn{
    color: #fff;
}
.dark-theme #extraBar a{
    color: #fff;
}

/** COMMON STYLES **/
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}